table {
  font-family: arial, sans-serif;
  border-collapse: collapse;

  td,
  th {
    text-align: left;
    padding: 8px;
  }

  tr {
    border-bottom: 1px solid #eee;
  }

  tr td:first-of-type {
    font-family: HelveticaNeue;
    font-size: 16px;
    color: #006778;
  }

  tr th {
    font-family: HelveticaNeue;
    font-size: 16px;
    color: #022737;
  }

  .selct-button {
    width: 95px;
  }
}