.blog-title {
  font-family: BerkeleyStd;
  font-size: 20px;
  color: #022737;
  display: inline-block;

}

.delete-post {
  float: right;
}

.blog-content {
  margin-bottom: 50px;
}

.comment-details {
  margin-top: 50px;
}